/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #444; /* Black-greyish background */
    color: #eee; /* Light text color */
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #ffd700; /* Gold */
    margin-bottom: 20px;
}

/* Header styles */
header {
    background-color: #ffd700; /* Gold */
    color: #000;
    padding: 10px 0;
    text-align: center;
    position: relative; /* Position relative for absolute positioning of button */
}

.logo {
    margin: 0;
    text-align: center;
    color: #000; /* Black color for Bank of Venezuela */
}

/* New styles for the button */
.return-button {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: #555;
    color: #eee;
    border: none;
    padding: 10px 20px; /* Increased padding for bigger button */
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px; /* Increased font size for bigger button */
}

/* Card styles */
.card {
    background-color: #333; /* Dark grey for the card */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Dark shadow */
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #eee; /* Light text color */
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #555; /* Darker input background */
    color: #eee; /* Light text color */
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ffd700; /* Gold */
    color: #000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #ffc800; /* Darker gold on hover */
}

/* Lock styles */
.lock {
    text-align: center;
    margin-top: 20px;
}

.lock img {
    width: 100px;
    height: 100px;
}

.lock p {
    font-size: 20px;
    color: #ffd700; /* Gold */
}
